<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{app.description}}">
    <meta name="keywords" content="{{app.keywords}}">
    <!-- Open Graph -->
    <meta property="og:title" content="{{app.title}}">
    <meta name="og:type" content="website">
    <meta name="og:url" content="{{app.url}}">
    <meta name="og:image" content="{{app.logo}}">

    <!-- Recommended -->
    <meta property="og:site_name" content="{{app.title}}">
    <meta name="twitter:image:alt" content="{{app.title}}">

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    <!-- Robots -->
    <meta name="robots" content="index, follow">

    <title>{{app.title}}</title>

    <!-- FontAwesom -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/app.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>

    {% block content %}{%- endblock %}
    
    <!-- Scripts -->
    <script src="js/app.js"></script>
</body>
</html>