/*
* -------------------------------------------------------------------------------------------------------------------
* This file manages the mixin overwrites for customizing UIKit.
* -> Refer to https://getuikit.com/docs/sass for more info.
* -------------------------------------------------------------------------------------------------------------------
* Note: Do not use this file for writing custom css.
* Note: Use _variables.scss for overriding or including variables
*/

// => Your hooks here //

/*
@mixin hook-card () {

    // => Include customization for card
    
}
*/