/*
* -------------------------------------------------------------------------------------------------------------------
* This file manages the custom theming of UIKit.
* -> Refer to https://getuikit.com/docs/sass for more info.
* -> Follow the link: https://github.com/uikit/uikit/blob/develop/src/scss/variables.scss for a list of all variables
* -------------------------------------------------------------------------------------------------------------------
* Note: Do not use this file for writing custom css.
* Note: Use _hooks.scss for mixin overwrites
*/

// COLORS //
$primary:   #34D18E;
$secondary: #0B172A;

$success:   #8bc34a;
$warning:   #ffc107;
$danger :   #f44336;
$muted  :   #f8f8f8;

$dark   :   #2e2e2e;
$gray   :   #666;
$light  :   #f4f4f4;

// OVERRIDES //
$global-primary-background: $primary;
$global-secondary-background: $secondary;

$global-success-background: $success;
$global-warning-background: $warning;
$global-danger-background: $danger;
$global-muted-background: $muted;

$global-link-color: $primary;
$base-link-hover-text-decoration: none;

$global-color: $gray;
$global-emphasis-color: $dark;
$global-inverse-color: $light;

$global-font-family: 'Poppins', 'Roboto', sans-serif;
$global-font-size: 15px;
// => Add your own theming variables below //

// (x) Donot write custom styling here //