<div class="footer uk-section uk-padding-small uk-text-small">
    <div uk-grid>
        <div class="uk-text-center uk-text-left@m uk-width-1-1 uk-width-1-3@m">
            Copyright 2018 &copy; {{app.author}}. All rights reserved
        </div>
        <div class="uk-text-center uk-width-1-1 uk-width-1-3@m">
            Hand Crafted with <span class="uk-text-danger"><i class="fa fa-heart"></i></span> by <a class="uk-link-muted" href="https://www.instagram.com/tracingpaperofficial">Tracing Paper</a>
        </div>
        <div class="uk-text-center uk-text-right@m uk-width-1-1 uk-width-1-3@m">
            <a href="https://www.facebook.com/{{data.social.facebook}}" class="uk-link-muted uk-padding-small">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.twitter.com/{{data.social.twitter}}" class="uk-link-muted uk-padding-small">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/{{data.social.instagram}}" class="uk-link-muted uk-padding-small">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
</div>